jupyter
pandas
camelot-py
opencv-python
utm
matplotlib
folium
xlwt
seaborn
xlrd
dplython
plotnine
ggplot
jupyterlab
altair
vega-datasets
wikidata
wptools
setuptools
update
wikipedia
sparqlwrapper
geopy
geopandas
topojson
